<% layout('layout/boilerplate') %>

<h3>Name: <%= house.name %></h1>
<h3>Address: <%= house.address %></h1>
<h3>Price: <%= house.price %></h1>
<h3>Availibility: <%= house.availability %></h1>
<h3>Description: <%= house.description %></h1>

<a href="/houses/<%=house.id%>/edit">EDIT</a>

<form action="/houses/<%=house.id%>?_method=delete" method="POST">
    <button>delete</button>
</form>